<div class="clear" style="padding-top: 120px; background: url(../../Images/paper_clip.png) center 0px no-repeat;
    padding-left: 20px; min-height: 426px;">
    <p style="padding-top: 65px; width: 420px; padding-left: 90px; margin: 0 0 0 235px;">
        <strong>Kindly Contact Us to Below Details:</strong>
        <table style='padding-top: 0px; width: 420px; padding-left: 32px; margin: 0 auto;'>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style='width: 200px;'>
                    Name
                </td>
                <td>
                    <b>:Support DSA</b>
                </td>
            </tr>
            <tr>
                <td style='width: 200px;'>
                    Department
                </td>
                <td>
                    <b>:Technical Support</b>
                </td>
            </tr>
            <tr>
                <td style='width: 200px;'>
                    Branch
                </td>
                <td>
                    <b>:Support</b>
                </td>
            </tr>
            <tr>
                <td style='width: 200px;'>
                    Contact Number
                </td>
                <td>
                    <b>:0124-6682588 </b>
                </td>
            </tr>
            <tr>
                <td style='width: 200px;'>
                    Email
                </td>
                <td>
                    <b>:support-dsa@wlt.com</b>
                </td>
            </tr>
        </table>
    </p>
    <br class="clear" />
</div>

