@*@model WLCaxtonPortalBusinessEntity.Login*@
@{
    @* ViewBag.Title = "ForgotPassword";
   Layout = "~/Views/Shared/_LayoutForLoginNew.cshtml";*@
}
 <!-- Forger Password Html Start -->
<section class="forgot-password">
    <div class="container">
        <h2>Forget Password</h2>
    </div>
</section>
<!-- Forger Password Html End -->
<!-- Simple Form Html Start -->
<div class="container" id="dvMainRegis">
<section class="simple-form">
    <section id="sectionSuccess" class="notification-section">
        <div class="alert alert-success alert-dismissible" role="alert" style="display: none">
            <button type="button" class="close valid"><span aria-hidden="true">&times;</span></button>
            <p></p>
        </div>
    </section>
    <section id="sectionInfo" class="notification-section">
        <div class="alert alert-warning alert-dismissible" role="alert" style="display: none">
            <button type="button" class="close infoValid"><span aria-hidden="true">&times;</span></button>
            <p></p>
        </div>
    </section>
    <section id="sectionError" class="notification-section">
        <div class="alert alert-danger alert-dismissible" role="alert" style="display: none">
            <button type="button" class="close unvalid"><span aria-hidden="true">&times;</span></button>
            <p></p>
        </div>
    </section>
    <div class="container">
        <p class="simple-form__normaltext">If you have forgotten your password please enter your username below.</p>
      
            <div class="simple-form__form-group row">
                <div class="col-sm-6">
                    <label for="txtForgotUserName" class="simple-form__form-group--label">Username :<span>*</span> </label>
                    <input type="text" class="simple-form__form-group--input" id="txtForgotUserName" placeholder="Username">
                    <label id="lblForgotUserNameError" class="simple-form__form-group--label simple-form__form-group--labelError"></label>
                </div>

            </div>
            <input type="button" value="Submit" name="Submit" class="default-btn" id="btnForgotPwd" />
            <input type="button" value="Clear" name="Clear" class="default-btn" id="btnClear" onclick="ClearAll();" />
            <input type="button" value="Login" name="Login" class="default-btn" id="btnLogin" />
       
    </div>
</section>
<!-- Simple Form Html End -->

</div>

