<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--<add key="StorageType" value="AWS"/>-->
    <add key="StorageTypeHCP" value="HCP"/>
    <add key="RegionEndpoint" value="EAST"/>
    <add key="PathForLog" value="C://HCPS3/"/>
    <add key="RSA_HCP_PwdPath" value="D:\inetpub\wwwroot\PortalWebServices\HCPEndpoint\RSA_HCP_Password.txt" />
    <add key="BucketName" value="dev-rsa" />
    <add key="UserName" value="WLTRSA3" />
    <add key="Password" value="WLTRSA3" />
    <add key="TenantName" value="wlt" />
    <add key="Host" value="hcpnp.global.wlt.com" />

  </appSettings>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.5.2"/>-->
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
<system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsSecureBinding" sendTimeout="00:05:00" receiveTimeout="00:05:00" openTimeout="00:05:00" closeTimeout="00:05:00" maxBufferPoolSize="5242887890" maxReceivedMessageSize="524288789">
          <readerQuotas maxDepth="4500000" maxStringContentLength="4500000" maxBytesPerRead="40960000" maxNameTableCharCount="250000000" maxArrayLength="1073741824"/>
          <!--  <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>-->
          <security mode="Transport">
            <transport clientCredentialType="Digest" proxyCredentialType="Digest" realm=""></transport>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basicBinding" sendTimeout="00:05:00" receiveTimeout="00:05:00" openTimeout="00:05:00" closeTimeout="00:05:00" maxBufferPoolSize="524288789" maxReceivedMessageSize="524288789">
          <readerQuotas maxDepth="4500000" maxStringContentLength="45000000" maxBytesPerRead="40960000" maxNameTableCharCount="250000000" maxArrayLength="1073741824"/>
          <!-- <security mode="Transport">
            <transport clientCredentialType="None" />

          </security>-->
          <security mode="Transport">
            <transport clientCredentialType="Digest" proxyCredentialType="Digest" realm=""></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="AWSS3ServiceLayer.AWSS3FileTransfer" behaviorConfiguration="httpBehavior">
        <endpoint name="basicEndpoint" address="" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="AWSS3ServiceLayer.IAWSS3FileTransfer"/>
        <endpoint name="wsEndpoint" address="/ws" binding="wsHttpBinding" bindingConfiguration="wsSecureBinding" contract="AWSS3ServiceLayer.IAWSS3FileTransfer"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="65536"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="httpBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="26" maxConcurrentSessions="10"/>
        </behavior>

      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <!--Services hosting-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
      <!--<serviceActivations>
        <add service="WLCaxtonPortalServiceLayer.WLCaxtonPortalService" relativeAddress="WLCaxtonPortalService.svc"/>      
      </serviceActivations>-->
    </serviceHostingEnvironment>
  </system.serviceModel>

    <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

  <!--<system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsSecureBinding" sendTimeout="00:05:00"
                 receiveTimeout="00:05:00" openTimeout="00:05:00" closeTimeout="00:05:00"  maxBufferPoolSize="5242887890" maxReceivedMessageSize="524288789">
          <readerQuotas maxDepth="4500000" maxStringContentLength="4500000" maxBytesPerRead="40960000"
                        maxNameTableCharCount="250000000" maxArrayLength="1073741824"/>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basicBinding" sendTimeout="00:05:00" receiveTimeout="00:05:00" openTimeout="00:05:00" closeTimeout="00:05:00" maxBufferPoolSize="524288789"
                 maxReceivedMessageSize="524288789">
          <readerQuotas maxDepth="4500000" maxStringContentLength="45000000" maxBytesPerRead="40960000" maxNameTableCharCount="250000000" maxArrayLength="1073741824"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="AWSS3ServiceLayer.AWSS3FileTransfer" >
        <endpoint name="basicEndpoint" address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
                  contract="AWSS3ServiceLayer.IAWSS3FileTransfer"/>
        <endpoint name="wsEndpoint" address="/ws" binding="wsHttpBinding" bindingConfiguration="wsSecureBinding"
                 contract="AWSS3ServiceLayer.IAWSS3FileTransfer"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
   <system.net>
    <defaultProxy enabled="true">
      <proxy proxyaddress="*.hcpnp.global.wlt.com" bypassonlocal="true"/>
    </defaultProxy>
  </system.net>
  </system.serviceModel>-->
<!--<system.net>
    <defaultProxy enabled="true">
      <proxy proxyaddress="*.hcpnp.global.wlt.com" bypassonlocal="true"/>
    </defaultProxy>http://172.28.253.36:8080
  </system.net>-->


</configuration>
