.forgot-password {
	background: $dull-gray;
	@include space(padding, top, $extraMedium);
	@include space(padding, bottom, $extraMedium);
	@include space(padding, left, $rem-pad);
	@include space(padding, right, $rem-pad);
	@include border('bottom', 1px, solid, $border-color);

	h2 {
		@include space(padding, bottom, 0);
		@include space(padding, left, $medium);
		@include background('../images/sprite.png', 0% 7.7%);
		display: inline-block;
	}

	~ .simple-form {
		max-height: calc(100% - 13.6875rem);
		overflow-y: auto;
	}

	&.active-part-list {
		.active-part {
			display: inline-block;
			float: right;

			@media (max-width: $tablet-width) {
				display: block;
				float: none;
			}

			ul {
				@media (max-width: $tablet-width) {
					text-align: center;
				}

				li {
					display: inline-block;
					@include font-size(13);
					@include border(top, 1px, solid, $border-color);
					@include border(bottom, 1px, solid, $border-color);
					@include border(left, 1px, solid, $border-color);
					@include border(right, 1px, solid, $border-color);
					@include space(margin, left, $extraSmall);

					@media (max-width: $tablet-width) {
						@include space(margin, top, $small);
					}

					p {
						display: inline-block;
						@include space(padding, all, $extraSmall);
						font-family: $global-font-medium 
					}
					span {
						display: inline-block;
						@include font-size(17);
						font-family: $global-font-semibold;
						@include space(padding, all, $extraSmall);
						@include border(left, 1px, solid, $border-color);
					}
				}
			}
		}

		~ .simple-form {
			min-height: calc(100% - 14.3rem);
		}
	}
}