.marketing-item-section {

	.panel-group {
		min-height: calc(100% - 13.6875rem);
		@include space(padding, top, $medium);
		@include space(padding, bottom, $medium);
		@include space(padding, left, $rem-pad);
		@include space(padding, right, $rem-pad);

		.panel-default {
			@include border('top', 0px);
			@include border('left', 0px);
			@include border('right', 0px);
			@include border('bottom', 0px);
			@include space(margin, bottom, $extraMedium);

			.panel-heading {
				@include space(padding, all, 0);
				background-color: $table-header;
				@include border-radius(7);
				h4 {
					> a {
						display: flex;
						justify-content: space-between;
						text-decoration: none;
						font-family: $global-font-semibold;
						color: $nav-color;
						@include space(padding, all, $rem-pad);
						@include space(padding, right, $extraLarge);
						@include background('../images/sprite2.png', 100% -96.8rem);
						@include font-size(13);
						@include line-height(23);

						&.collapsed {
							@include background('../images/sprite2.png', 100% -89.3rem);
						}

						span {
							strong {
								@include font-size(15);
								color: $dark-white;
							}
						}
					}
				}
			}

			.panel-body {
				@include border('left', 1px, solid, $dull-gray);
				@include border('right', 1px, solid, $dull-gray);
				@include border('bottom', 1px, solid, $dull-gray);
				@include border('top', 0px);
				@include space(padding, all, 0);

				p {
					@include font-size(15);
					@include line-height(23);
				}

				.dataTables_info {
					display: none;
				}

				.dataTables_paginate {
					display: none;
				}
			}
		}
	}

	
}