<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <appSettings>
    <!--<add key="DocumentSearchFilterCriteria" value="WHERE  AccountNumber {0} AND Convert(Varchar(8), DocumentDate, 112) {1} AND ProductCategory {2} AND &#xA; DocumentType{3} AND Postcode {4} AND PageCount {5} AND ISNULL(SpoolName,'') {6}" />-->
    <add key="DocumentSearchFilterCriteria" value="WHERE  AccountNumber {0} AND Convert(Varchar(8), DocumentDate, 112) {1} AND DocumentType {2} AND &#xA; documentsubtype{3} AND Postcode {4} AND PageCount {5}" />

    <add key="DocumentSearchFilterCriteriaOrder" value="" />
    <add key="DefaultDocumentSearchSortCriteria" value="DocumentDate desc" />
    <add key="WLCaxtonPortalService_ActiveEndPoint" value="basicEndpoint" />
    <add key="LogoutMessage" value="You have successfully logged out." />
    <!--As per client-->
    <add key="SessionLogoutTime" value="30" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="logout" value="https://gbrtwwvtswbp01.global.wlt.com/Archive/" />
    <add key="siteroot" value="https://gbrtwwvtswbp01.global.wlt.com/Archive/" />

    <add key="StorageTypeHCP" value="HCP"/>
    <add key="RegionEndpoint" value="EAST"/>
    <add key="PathForLog" value="C:\WLCaxtonMVCWebPortal\HCPS3\"/>

    <add key="BucketName" value="dev-rsa" />
    <add key="UserName" value="WLTRSA3" />
    <add key="Password" value="WLTRSA3" />
    <add key="RSA_HCP_PwdPath" value="D:\inetpub\wwwroot\Portals\HCPEndpoint\RSA_HCP_Password.txt" />
    <add key="TenantName" value="wlt" />
    <add key="Host" value="hcpnp.global.wlt.com" />
    <add key="PdfRenderPath" value="https://dev-rsa.wlt.hcpnp.global.wlt.com/rest/" />

    <add key="PDFNetLicenceKey" value="Williams Lea(williamslea.com):ENTCPU:18::W:AMS(20181117):627FADE33C4F66B9528E400F400DB2AB3B856C4B92B76248FE5AEA31F5C7"/>
    <add key="AuthenticationFilePath" value="D:\inetpub\wwwroot\Portals\Archive\DIGESTAUTH.txt"/>
  </appSettings>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" >
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600" />


    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>

  </system.web>
  <system.serviceModel>
    <bindings>



      <basicHttpBinding>
        <binding name="basicEndpoint" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="524288789" maxReceivedMessageSize="524288789"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="4500000" maxStringContentLength="4500000"
            maxArrayLength="1073741824" maxBytesPerRead="40960000" maxNameTableCharCount="250000000" />

          <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>-->
          <security mode="Transport">
            <transport proxyCredentialType="Digest" clientCredentialType="Digest" realm="none"></transport>
          </security>
        </binding>
        <binding name="rpcSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsEndpoint" closeTimeout="00:05:00" openTimeout="00:05:00"
          receiveTimeout="00:05:00" sendTimeout="00:05:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288789" maxReceivedMessageSize="524288789"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="4500000" maxStringContentLength="4500000"
            maxArrayLength="1073741824" maxBytesPerRead="40960000" maxNameTableCharCount="250000000" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="None" negotiateServiceCredential="false"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://gbrtwwvdvwba01.global.wlt.com/ArchiveService/WLCaxtonPortalService.svc"
        binding="basicHttpBinding" bindingConfiguration="basicEndpoint"
        contract="WLCaxtonPortalServiceLayer.IWLCaxtonPortalService"
        name="basicEndpoint" />



      <endpoint address="https://gbrtwwvdvwba01.global.wlt.com/HCPService/AWSS3Service.svc" binding="basicHttpBinding"
        bindingConfiguration="basicEndpoint" contract="HCPServiceReference.IAWSS3FileTransfer"
        name="basicEndpoint" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>

    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <log4net>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\WLCaxtonMVCWebPortal\Log\Error.txt" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="ERROR" />
      </filter>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024MB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ErrorFileAppender" />
    </root>
  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>


</configuration>